.DS_Store
SOURCES/.vscode
kickstarter
ADDONS/AddOnL
PARTSLIST_assembly
SOURCES/build-auverdionControl-Desktop_Qt_5_12_5_MSVC2017_64bit-Debug
SOURCES/build-auverdionControl-Desktop_Qt_5_12_5_MSVC2017_64bit-Release
SOURCES/build-auverdionControl-Desktop_Qt_5_12_5_clang_64bit-Debug
SOURCES/build-auverdionControl-Desktop_Qt_5_12_5_clang_64bit-Release
*.pro.user.*
ADDONS/AddOnL mit SPDIF
*.bak
*-bak
*.bck
*.autosave
fp-info-cache
SOURCES/build-sigma2aurora-Desktop_Qt_5_12_5_clang_64bit-Debug
RELEASES
OEM
