SOURCES/KICAD/freeDSP-aurora.xlsx
kickstarter
keynote
SOURCES/.vscode
ADDONS/AddOnL
ADDONS/AddOnL mit SPDIF
PARTSLIST_assembly
GERBER_1
SOURCES/.DS_Store
.DS_Store
SOURCES/build-auverdionControl-Desktop_Qt_5_12_0_clang_64bit-Debug
SOURCES/build-auverdionControl-Desktop_Qt_5_12_1_clang_64bit-Debug
SOURCES/build-auverdionControl-Desktop_Qt_5_12_1_clang_64bit-Release

