/* -------------------------------------------------------------------------- */
/* General                                                                    */
/* -------------------------------------------------------------------------- */
* {
  font-family: "Helvetica Neue Light";
  font-size: 13px;
}

/* -------------------------------------------------------------------------- */
/* QCheckBox                                                                  */
/* -------------------------------------------------------------------------- */
QCheckBox
{
  color: white;
}

/* -------------------------------------------------------------------------- */
/* QComboBox                                                                  */
/* -------------------------------------------------------------------------- */
QComboBox
{
  background-color: transparent;
  color: white;
  border: 1px solid #c1c1c1;
  border-radius: 2px;
  padding: 2px;
}
QComboBox::drop-down
{
  background-color: transparent;
  color: white;
  subcontrol-origin: padding;
  subcontrol-position: top right;
  width: 20px;
  border-left: 0px solid black;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
QComboBox::down-arrow
{
  image: url(:/1downarrow.png);
}

QComboBox QAbstractItemView
{
  border: 1px solid #c1c1c1;
  border-radius: 5px;
  min-width: 150px;
  color: white;
}

QComboBox:item {
  background-color: #111111;
  color: white;
}

QComboBox:item:selected {
  color: white;
  background-color: #393939;
}

QComboBox:item:checked {
  color: white;
  background-color: #393939;
}

/* -------------------------------------------------------------------------- */
/* QDialog                                                                    */
/* -------------------------------------------------------------------------- */
QDialog
{
  background-color: #111111;
  color: white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}

/* -------------------------------------------------------------------------- */
/* QDoubleSpinBox                                                             */
/* -------------------------------------------------------------------------- */
QDoubleSpinBox
{
  background-color: transparent;
  color: white;
  border: 0px solid black;
  selection-background-color: transparent;
  selection-color: white;
}

/* -------------------------------------------------------------------------- */
/* QGroupBox                                                                  */
/* -------------------------------------------------------------------------- */
QGroupBox
{
  background-color: transparent;
  color: white;
  font-size: 14px;
}

/* -------------------------------------------------------------------------- */
/* QLabel                                                                     */
/* -------------------------------------------------------------------------- */
QLabel
{
  background-color: transparent;
  border: 0px solid black;
  color: white;
}

/* -------------------------------------------------------------------------- */
/* QLineEdit                                                                  */
/* -------------------------------------------------------------------------- */
QLineEdit
{
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 2px;
}

/* -------------------------------------------------------------------------- */
/* QMainWindow                                                                */
/* -------------------------------------------------------------------------- */
QMainWindow
{
  background-color: #111111;
  color: white;
  border: 0px solid black;
}

/* -------------------------------------------------------------------------- */
/* QMenu                                                                      */
/* -------------------------------------------------------------------------- */
QMenuBar
{
  background-color: #000000;
  color: white;
  font-size: 16px;
}
QMenuBar::item
{
  padding: 5px 30px 5px 10px;
}
QMenuBar::item:selected
{
  background-color: #000000;
  color: #FFFFFF;
  border: 0px solid #c1c1c1;

}
QMenu
{
  background-color: #111111;
  color: white;
  border-bottom: 1px solid #c1c1c1;
  border-left: 1px solid #c1c1c1;
  border-top: 1px solid #c1c1c1;
  border-right: 1px solid #c1c1c1;
  border-radius: 5px;
  min-width: 150px;
}
QMenu::item
{
  background-color: #111111;
  color: white;
  border: 1px solid transparent;
  margin-left: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  min-width: 150px;
}
QMenu::item:selected
{
  background: #393939;
}

/* -------------------------------------------------------------------------- */
/* QPushButton                                                                */
/* -------------------------------------------------------------------------- */
QPushButton
{
  background-color: #111111;
  color: white;
  border: 1px solid #c1c1c1;
  border-radius: 2px;
  padding: 4px;
}
QPushButton:hover
{
  background-color: #393939;
}
QPushButton:disabled
{
  color: #393939;
}

/* -------------------------------------------------------------------------- */
/* QRadioButton                                                               */
/* -------------------------------------------------------------------------- */
QRadioButton
{
  color: white;
}

/* -------------------------------------------------------------------------- */
/* QScrollArea                                                                */
/* -------------------------------------------------------------------------- */
QScrollArea
{
  border: 1px solid black;
}

/* -------------------------------------------------------------------------- */
/* QScrollBar                                                                 */
/* -------------------------------------------------------------------------- */
QAbstractScrollArea
{
  background-color: transparent;
  border: 0px solid #c1c1c1;
  border-radius: 2px;
}

QScrollBar:horizontal
{
  background-color: transparent;
  border: 1px solid #c1c1c1;
  border-radius: 4px;
  height: 16px;
  margin: 3px 15px 3px 15px;
}
QScrollBar::handle:horizontal
{
  background-color: #393939;
  border-radius: 4px;
  min-width: 5px;
}
QScrollBar::add-line:horizontal {
  border: none;
  background: none;
}
QScrollBar::sub-line:horizontal {
  border: none;
  background: none;
}
QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {
  background: none;
}

QScrollBar:vertical
{
  background-color: transparent;
  border: 1px solid #c1c1c1;
  border-radius: 5px;
  width: 16px;
  margin: 15px 3px 15px 3px;
}
QScrollBar::handle:vertical
{
  background-color: #393939;
  border-radius: 5px;
  min-height: 5px;
}
QScrollBar::add-line:vertical {
  border: none;
  background: none;
}
QScrollBar::sub-line:vertical {
  border: none;
  background: none;
}
QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
  background: none;
}

/* -------------------------------------------------------------------------- */
/* QStatusBar                                                                 */
/* -------------------------------------------------------------------------- */
QStatusBar
{
  background-color : qlineargradient(x1:0,y1:0,x2:0,y2:1, stop: 1 #000000,
                                                          stop: 0 #111111 );
  color: white;
}

/* -------------------------------------------------------------------------- */
/* QTabWidget                                                                 */
/* -------------------------------------------------------------------------- */
QTabWidget
{
  border: 1px solid black;
  padding: 0px;
  margin: 0px;
}
QTabWidget::pane
{
  background-color: #111111;
  border: 0px solid black;
  border-radius: 2px;
  padding: 0px;
  margin: 0px;
}
QTabWidget::tab-bar
{
  alignment: center;
}
QTabBar::tab
{
  background-color: #111111;
  color: white;
  min-width: 100px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 4px;
  padding-bottom: 4px;
}
QTabBar::tab:hover
{
  background-color: #393939;
  color: white;
}
QTabBar::tab:selected
{
  background-color: #89C611;
  color: black;
}

/* -------------------------------------------------------------------------- */
/* QTextBrowser                                                               */
/* -------------------------------------------------------------------------- */
QTextBrowser
{
  background-color: #111111;
  border: 0px solid black;
  color: white;
}

/* -------------------------------------------------------------------------- */
/* QToolBar                                                                   */
/* -------------------------------------------------------------------------- */
QToolBar
{
  background-color: #111111;
  border: 0px solid black;
  color: white;
}

/* -------------------------------------------------------------------------- */
/* QToolButton                                                                */
/* -------------------------------------------------------------------------- */
QToolButton:hover
{
  background-color: #393939;
}


/* -------------------------------------------------------------------------- */
/* QWidget                                                                    */
/* -------------------------------------------------------------------------- */
QWidget#centralWidget
{
  background-color: #111111;
}
QWidget#widgetChannel
{
  background-color: #111111;
}

/* -------------------------------------------------------------------------- */
/* QBypassButton                                                              */
/* -------------------------------------------------------------------------- */
QPushButton#pushButtonBypass
{
  background-color: transparent;
  color: white;
  border: 0px solid black;
  border-radius: 0px;
  margin: 0px;
  padding: 0px;
}

QPushButton#pushButtonBypass:hover
{
  background-color: #393939;
  border: 0px solid black;
}

QPushButton#pushButtonBypass:on
{
  background-color: #F00510;
  border: 0px solid black;
}

QPushButton#pushButtonBypass:off
{
  background-color: #111111;
}

/* -------------------------------------------------------------------------- */
/* QWizard                                                                    */
/* -------------------------------------------------------------------------- */
QWizard
{
  background-color: #111111;
  color: white;
  border: 0px solid black;
}

/* -------------------------------------------------------------------------- */
/* QWizardPage                                                                */
/* -------------------------------------------------------------------------- */
QWizardPage
{
  background-color: #111111;
  color: white;
  border: 0px solid black;
}

/* -------------------------------------------------------------------------- */
/* QDspBlock                                                                  */
/* -------------------------------------------------------------------------- */
QDspBlock
{
  background-color: #111111;
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
QDspBlock:hover
{
  background-color: #393939;
  color: white;
  border-left: 1px solid #393939;
}

/* -------------------------------------------------------------------------- */
/* QFigure                                                                    */
/* -------------------------------------------------------------------------- */
QFigure {
  qproperty-backgroundColor: #111111;
  qproperty-colorLabel: white;
  qproperty-colorGridCoarse: #d1d1d1;
  qproperty-colorGridFine: #a1a1a1;
}

/* -------------------------------------------------------------------------- */
/* QVolumeSlider                                                              */
/* -------------------------------------------------------------------------- */
QVolumeSlider {
  qproperty-backgroundColor: #111111;
  qproperty-textColor: white;
  qproperty-sliderColor: #89C611;
}
