<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>14F2009</string>
	<key>CFBundleDisplayName</key>
	<string>auverdionControl</string>
	<key>CFBundleExecutable</key>
	<string>auverdionControl</string>
	<key>CFBundleGetInfoString</key>
	<string>Created by Qt/QMake</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>appicon_29x29.png</string>
				<string>appicon_29x29@2x.png</string>
				<string>appicon_40x40@2x.png</string>
				<string>appicon_57x57.png</string>
				<string>appicon_57x57@2x.png</string>
				<string>appicon_60x60@2x.png</string>
			</array>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>iPad App Icon iOS 5,6</string>
				<string>iPad App Icon iOS 5,6@2x.png</string>
				<string>iPad App Icon iOS 7,9.png</string>
				<string>iPad App Icon iOS 7,9@2x.png</string>
				<string>iPad notification iOS 7,11.png</string>
				<string>iPad notification iOS 7,11@2x.png</string>
				<string>iPad Pro Icon iOS 9@2x.png</string>
				<string>iPad Settings.png</string>
				<string>iPad Settings@2x.png</string>
				<string>iPad Spotlight iOS 5,6.png</string>
				<string>iPad Spotlight iOS 5,6@2x.png</string>
				<string>iPad Spotlight iOS 7,9.png</string>
				<string>iPad Spotlight iOS 7,9@2x.png</string>
			</array>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.raphaelknoop.auverdioncontrolios</string>
	<key>CFBundleName</key>
	<string>auverdioncontrol</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>13B137</string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>9.1</string>
	<key>DTSDKBuild</key>
	<string>13B137</string>
	<key>DTSDKName</key>
	<string>iphoneos9.1</string>
	<key>DTXcode</key>
	<string>0711</string>
	<key>DTXcodeBuild</key>
	<string>7B1005</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>8.0</string>
	<key>NOTE</key>
	<string>This file was generated by Qt/QMake.</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UIStatusBarHidden~ipad</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleBlackOpaque</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
